.calculator {
  background-color: var(--white);
  margin-top: 4.1rem;
  padding: 3.2rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  display: grid;
  gap: 3.2rem;
  width: min(100%, 92rem);
}

@media screen and (min-width: 57.5em) {
  .calculator {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2.5rem;
  }
}
